@font-face {
  font-family: 'B Nazanin';
  src: local('B Nazanin'),
    local('BNazanin'),
    url('../fonts/BNazanin.woff2') format('woff2'),
    url('../fonts/BNazanin.woff') format('woff'),
    url('../fonts/BNazanin.ttf') format('truetype');
  font-weight: 400;
  font-stretch: normal;
  /*font-style: normal;*/
}

@font-face {
  font-family: 'B Nazanin';
  src: local('B Nazanin Bold'),
    local('BNazanin-Bold'),
    url('../fonts/BNaznnBd.woff2') format('woff2'),
    url('../fonts/BNaznnBd.woff') format('woff'),
    url('../fonts/BNaznnBd.ttf') format('truetype');
  font-weight: 700;
  font-stretch: normal;
  /*font-style: normal;*/
}

@font-face {
  font-family: 'Nazanin Outline';
  src: local('Nazanin Outline'),
    local('Nazanin-Outline'),
    url('../fonts/NazaninOutline.ttf') format('truetype');
  font-weight: 400;
  font-stretch: normal;
  /*font-style: normal;*/
}

@font-face {
  font-family: 'B Terrafic';
  src: local('B Traffic'),
    local('B-Traffic'),
    url('../fonts/BTraffic.ttf') format('truetype');
  font-weight: 400;
  font-stretch: normal;
  /*font-style: normal;*/
}

@font-face {
  font-family: 'B Terrafic';
  src: local('B Traffic'),
    local('B-Traffic'),
    url('../fonts/BTraffic.ttf') format('truetype');
  font-weight: 700;
  font-stretch: bold;
}

/*
@font-face {
    font-family: 'agency fb';
    src: local('agency fb'),
        local('agency-fb'),
        url('../fonts/agency-fb.ttf') format('truetype');
    font-weight: 400;
    font-stretch: normal;
}*/
@font-face {
  font-family: 'Sahand';
  src: local('Sahand'),
    url('../fonts/Sahand.ttf') format('truetype');
  font-weight: 400;
  font-stretch: normal;
}

body {
  background-image: url('../img/web4-bg-1.jpg');
  background-size: cover;
  text-align: right;
  color: white !important;
}

.main-menu.nav {
  margin: 1em;
  padding: 0;
}

.main-menu.nav li {
  margin: 1.5em;
  font-family: 'B Nazanin';
}

.main-menu.nav li a {
  color: white !important;
}

.main-menu.nav li a.active p {
  padding-bottom: .5em;
  border-bottom: 1px solid red;
}

.main-menu.nav li a.active h4 {
  text-shadow: 0px 1px 0px black;
}

.main-menu.nav li a:hover p {
  padding-bottom: .5em;
  border-bottom: 1px solid white;
}

.main-menu.nav li h4 {
  font-weight: bold;
}

header h1 {
  font-family: 'Nazanin Outline';
  font-size: 4.1em;
  margin: 1.15em auto;
  text-shadow: 0 0 12px #ffffbe;
}

header p,
.traffic {
  font-family: 'B Terrafic';
  font-size: 22px;
}

.nazanin {
  font-family: 'B Nazanin'
}

header p {
  text-align: justify;
  text-shadow: 0px 1px 0px black;
}

header a {
  font-size: 26px !important;
}

header a:hover {
  text-shadow: 0px 1px 0px black;
}

/*img.borderOnImg {
  position: relative;
  border: 6px solid #ffffff80;
}*/

header .imgDiv {
  padding-left: 0;
  text-align: left;
}




.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;

  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 200px;
  caret-color: red;
  transition: width 0.4s linear;
  font-family: 'B Nazanin';
  font-size: 25px;
}

.searchbar:hover>.search_icon {
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.search_icon i {
  font-size: 35px;
}

.searchbar:hover {
  background-color: #ffffff60;
  border: 1px solid white;
}

.headerStyle {
  font-family: 'B Nazanin';
  text-shadow: 0px 1px 0px black;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.headerStyle:hover {
  text-decoration: none;
  color: inherit;
}

section .title h1,
section .title p {
  color: white;
  transition: all 900ms ease-in-out;
}

section .title h1 {
  margin: 77px 10px 0 10px;
}

section .title li {
  background-color: #fff3;
  border: 1px solid #fff3;
  transition: all 900ms ease-in-out;
}

section .title li:hover {
  border: 1px solid #fff9;
  transition: all 700ms ease-in-out;
}

section .title li:hover h1 {
  color: white;
  text-shadow: 0px 1px 24px white;
  transition: all 700ms ease-in-out;
}


#music {
  margin-top: 9em;
}

section .row.first {
  margin-top: 6em;
}

/*********************** Demo - 14 *******************/
.box14 {
  overflow: hidden
}

.box14 {
  box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.box14 .post {
  text-transform: capitalize
}

.box14 .icon li,
.box14 .post {
  display: inline-block
}

.box14 {
  position: relative;
  border: 6px solid #ffffff40;
}

.box14:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .35s ease 0s;
  z-index: 2;
}

.box14:hover:before {
  opacity: 1
}

.box14 img {
  width: 100%;
  height: auto
}

.box14 .box-content {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 3;
}

.box14 .box-content:after,
.box14 .box-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .7s ease 0s
}

.box14 .box-content:before {
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  border-top: 1px solid rgba(255, 255, 255, .5);
  transform: scale(0, 1);
  transform-origin: 0 0 0
}

.box14 .box-content:after {
  border-left: 1px solid rgba(255, 255, 255, .5);
  border-right: 1px solid rgba(255, 255, 255, .5);
  transform: scale(1, 0);
  transform-origin: 100% 0 0
}

.box14:hover .box-content:after,
.box14:hover .box-content:before {
  opacity: 1;
  transform: scale(1);
  transition-delay: .15s
}

.box14 .title {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  margin: 22px 0 0 0;
  opacity: 0;
  transform: translate3d(0, -50px, 0);
  transition: transform .5s ease 0s
}

.box14:hover .title {
  opacity: 1;
  transform: translate3d(0, 0, 0)
}

.box14 .post {
  font-size: 18px;
  color: #fff;
  padding: 0;
  opacity: 0;
  border-radius: 0 19px;
  transform: translate3d(0, -50px, 0);
  transition: all .7s ease 0s
}

.box14 .icon,
.box15 .icon {
  padding: 0;
  list-style: none
}

.box14:hover .post {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: .15s
}

.box14 .icon {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: all .7s ease 0s
}

.box14:hover .icon {
  bottom: 20px;
  opacity: 1;
  transition-delay: .15s
}

.box14 .icon li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  border-radius: 0;
  font-size: 21px;
  color: #ddd;
  margin-right: 10px;
  margin-left: 10px;
  transition: all .4s ease 0s
}

.box14 .icon li a:hover {
  background: #d79719;
  border-color: #d79719
}

@media only screen and (max-width:990px) {
  .box14 {
    margin-bottom: 30px
  }
}

.box14 .title .post {
  font-size: 31px;
}

.masterbox {
  overflow: hidden;
}

.box14 img {
  transition: all 2000ms ease-in-out;
}

.box14:hover img {
  transform: scale(1.1);
  transition: all 3000ms ease-in-out;
}

.box14 .middle {
  margin-top: 40px;
}

.box14 .middle span {
  margin: 10px 4px;
}

.box14 .middle span i {
  display: block;
  font-size: 22px;
}

/*********************** Demo - 14 *******************/

/*********************** effect sadie *******************/
figure.effect-sadie {
  position: relative;
  display: inline-block;
  margin: 0;
}

figure.effect-sadie figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie div {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(35, 30, 31, 0) 0%, rgba(35, 30, 31, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(35, 30, 31, 0) 0%, rgba(35, 30, 31, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

figure.effect-sadie figcaption,
figure.effect-sadie figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.effect-sadie:hover figcaption::before,
figure.effect-sadie:hover div {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: all 800ms ease-in-out;
}

figure.effect-sadie div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-sadie {
  overflow: hidden;
  border: 6px solid #ffffff40;
  transition: all 500ms ease-in-out;
}

figure.effect-sadie:hover img {
  transform: scale(1.1);
  transition: all 3000ms ease-in-out;
}

figure.effect-sadie img {
  transition: all 1000ms ease-in-out;
}

/*********************** effect sadie *******************/

a.btn.more {
  margin: 2em auto;
  font-size: 40px;
  font-family: 'B Terrafic';
  color: #fffc;
  background-color: #007bff;
  border-color: #fff6;
  background-color: inherit;
}

a.btn.more:hover {
  background-color: #ff7d00b3;
}

#counter {
  font-family: 'Sahand';
  margin-top: 4em;
  background-image: url('../img/counter-1.jpg');
  height: 390px;
}

.nav {
  padding: 0;
}

#counter h1.title {
  padding-top: 50px;
}

#counter .time {
  font-family: 'Sahand';
  text-align: center;
}

#counter .time .number {
  font-size: 100px;
  width: 137px;
}

#counter .time .desc {
  font-size: 25px;

}

#counter .nav-item {
  margin: 10px 36px;
}

/*#video {
  margin-top:2em;
}*/

.video-title img {
  width: 100%;
  transform: scale(1.1);
  transition: all 3s ease 0s;
}

.video-title:hover img {
  width: 100%;
  transform: scale(1);
  transition: all 3s ease 0s;
}

.video-title {
  transition: all 1000ms ease-in-out;
  border: 6px solid #ffffff40;
  display: block;
  overflow: hidden;
}

.video-title:hover {
  text-decoration: none;
}

.video-title .over-video i {
  display: block;
  font-size: 100px;
}

.video-title .over-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, .0);
  transition: all 1s ease-in-out;
  text-align: center;
}

.video-title:hover .over-video {
  position: absolute;
  background: rgba(0, 0, 0, .5);
  transition: all 1s ease 0s;
}

.video-title .over-video .over-video-content {
  color: white;
  opacity: 0.7;
  margin-top: 114px;
  transition: all 1s ease 0s;
}

.video-title:hover .over-video .over-video-content {
  opacity: 1;
  transition: all 1s ease 0s;
}

#books {
  background-color: #a52a2a80;
  padding-bottom: 2em;
}

.card.book {
  background-color: #e9e9e91a !important;
}

.card.book figure {
  margin: 15px;
  position: relative;
}

.card.book img {
  box-shadow: 7px 6px 3px #00000080;
}

.card.book .bookTitle {
  font-size: 30px;
  font-family: 'B Terrafic';
}

.card.book figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 63%;
  background-color: #0000009F;
  opacity: 0;
  transition: all 1s ease 0s;
}

.card.book figcaption:hover {
  opacity: 1;
  transition: all 1s ease 0s;
}

.card.book a.btn {
  background-color: #00c0ffb3;
  border-color: #00c0ffb3;
}

.card.book a.btn:hover {
  background-color: #ff9900b3;
  border-color: #ff9900b3;
}

#news .row.news-row {
  margin: 2em 0;
  padding: 10px 0;
  background-color: #ffffff1a;
}

#news .date-title {
  font-family: 'Sahand';
  text-align: center;
  background-color: #fff9;
  font-size: 1.4em;
  color: black;
  text-shadow: 1px 1px #fff9;
}

#news .date-title .day {
  font-size: 4.5em;
  line-height: .53em;
  color: #e7471c;
}

#news .row .desc {
  padding: 1.5em 1em 1em 1em;
  font-family: 'Traffic';

}

#news .row .month {
  margin-top: 20px;
}

.right-edge {
  padding-right: 0 !important;
  margin-right: -10px;
  transition: all 3s ease 0s;
}

#news .row.news-row:hover .right-edge {
  padding-right: 10px !important;
  margin-right: 0px;
  transition: all 3s ease 0s;
}

#news .row.news-row .desc p {
  text-align: justify;
  padding-left: 2em;
}

#news .row.news-row:hover .desc p {
  font-size: 1.1em;
  padding-left: 0;
  transition: all 3s ease 0s;
}

#news .row.news-row:hover .desc h4 {
  font-size: 1.7em;
  transition: all 3s ease 0s;
}

#news .row.news-row .desc p,
#news .row.news-row .desc h4 {
  transition: all 3s ease 0s;
}

#sponsers {
  background-color: #ffffff33;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer {
  background-color: #ffffff55;
  padding-top: 2em;
  padding-bottom: 2em;
}