nav.navbar div.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

div.menu-container div.logo {
    float: right !important;
}

div.menu-container button.navbar-toggle {
    float: left !important;
}

div.collapse.navbar-collapse ul li {
    float: right !important;
    text-align: right;
}

div.collapse.navbar-collapse ul li a {
    line-height: 28px !important;
}

div.collapse.navbar-collapse ul li strong {
    display: block !important;
}

div.collapse.navbar-collapse ul li.active strong {
    font-size: large !important;
}

div.collapse.navbar-collapse ul li.active {
    text-shadow: 0 0 5px gray;
}

div.promo-block.parallax-window ul li {
    text-shadow: 0 0 3px lightblue;
}

.header .navbar-toggle {
    margin: 0 !important;
}

.service::after {
    content: "";
    background-image: url('../img/cover/20190104-cover-500.jpg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    background-size: cover;
}

.service {
    text-align: center !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

#music1::after {
    background-image: url('../img/cover/20190104-cover-500.jpg');
}

#music2::after {
    background-image: url('../img/cover/Arezoo-Omid\ Shiroudi-700.jpg');
}

#music3::after {
    background-image: url('../img/cover/Dele\ Daryaie-Omid\ Shiroudi-700.jpg');
}

#music4::after {
    background-image: url('../img/cover/ghadam\ mizanam-700.jpg');
}

#music5::after {
    background-image: url('../img/cover/hesse\ khoob-omid\ shiroudi-500.jpg');
}

#music6::after {
    background-image: url('../img/cover/IMG_6135-3m-600.jpg');
}

#music7::after {
    background-image: url('../img/cover/Javab\ Mosbat-Omid\ Shiroudi-500.jpg');
}

#music8::after {
    background-image: url('../img/cover/navahi-20181231-02-500.jpg');
}

#music9::after {
    background-image: url('../img/cover/royaye\ ghashang-700.jpg');
}

#music10::after {
    background-image: url('../img/cover/sheydaie-700.jpg');
}

#video1::after {
    background-image: url('../img/cover/navahi-20181231-02-500.jpg');
}


.work .work-popup-close{
    float: left !important;
}
.work-popup-content{
    text-align: right !important;
    direction: rtl;
}
.work .work-popup-content-divider {
    border-right: 0 !important;
    border-left: 1px solid #cdcecf !important;
    float: right !important;
}
ul.list-inline.work-popup-tag{
    padding-right: 0;
}
.news-title {
    float: right !important;
}
.news-title h4,
.news-title p{
    text-align: right !important;
}
.news-title h4 a{
    float: right !important;
}

.class-title{
    float: right !important;
    padding-left: 1em !important;
}
.class-title h3,
.class-title p,
.class-title ul li{
    text-align: right !important;
    direction: rtl !important;
}

.class-title h3 a,
.class-title ul li i{
    float: right !important;
}
.copyright{
    direction: rtl;
}
.footer a.social-icons{
    color: #17bed2;
}
.footer a.social-icons:hover{
    background: #17bed2;
    color: #fff;
}
#aparat{
    margin: 1em;
}